---
import { Icon } from 'astro-icon';
import activitypods from '~/assets/images/activitypods.svg';
---

<section class="bg-slate-200 dark:bg-slate-900 full-height sm:min-h-[900px]">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-8 md:py-12">
			<div class="text-center max-w-5xl mx-auto">
				<img src={activitypods} alt="ActivityPods" class="w-48 sm:w-96 mx-auto" />
				<h1 class="text-3xl md:text-[3.50rem] font-bold sm:leading-[2.8rem] mb-4 font-heading sm:max-w-[1100px] mx-auto">
					Creating decentralized social apps has never been easier
				</h1>
				<div class="max-w-2xl mx-auto">
					<p class="text-lg text-gray-600 mb-8 dark:text-slate-400">
						<strong><span class="text-black dark:text-slate-400">Activity</span><span class="text-primary-500">Pods</span></strong> 
						brings together two revolutionary technologies, <strong><a href="#activitypub">Activity<span class="text-secondary-500">Pub</span></a></strong> and <strong>Solid <span class="text-primary-500">Pods</span></strong>, and empowers developers to create truly decentralized applications
					</p>
					<div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a
								class="btn btn-primary sm:mb-0 w-full"
								href="https://mypod.store"
								target="_blank"
								rel="noopener"
							>
								<Icon name="tabler:rocket" class="w-5 h-5 mr-1 -ml-1.5" /> Create your Pod
							</a>
						</div>
						<div class="flex w-full sm:w-auto">
							<a class="btn w-full" href="#activitypub">
								Learn more
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
